{% extends "base.html" %}
{% block title %}Create Article{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <h1>{{title}}</h1>
  <br>
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
   <link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
  <!-- <div class="form-group">  -->
  <form action="/etherpad/create/{{ pk }}/" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label style = "color:#e94e2f;font-size: 20px;" for="name">{{form.name.label_tag}}</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="give a title to the content" required>
        <div class="invalid-feedback"></div>
      </div>

    <!-- <div class="form-group">
    <label for="name" class="label_form"><b>{{form.name.label_tag}}</b></label>
    {% render_field form.name class="form_control" placeholder="give a title to the content" %}
    </div> -->

    <!-- <table>
      <tr>
        <td>{ form.name.label_tag }} </td>
        <td>{{ form.name }}</td>
      </tr>
    </table> -->
    {{ form.group }}
    <br>
    <input class="submit btn btn-primary" type="submit" value="Create" />
  </form>
  </div>

{% endblock %}
