{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block content %}

  <div class='inliner'><h1>PADS:</h2></div>
  <div class='inliner'>
    {% for group, data in groups.items %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Articles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%for pad in data.pads%}
        <tr>
          <td>
            <a href="/article/{{pad.id}}">{{pad.name}}</a>
          </td>
          <td> 
            <a class="action act-del" href="/article/delete/{{pad.id}}">Delete</a>
           </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="action act-add" href="/article/create/{{data.group.id}}">Add Article</a>
  {% endfor %}
  </div>
{% endblock %}
